-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path,:id => 'ratings_form', :method => :get do
  Include:
  -if @execute_first
    - @all_ratings.each do |rating|
      = rating
      = check_box_tag "ratings[#{rating}]" , 1, true   
  - else
    - @all_ratings.each do |rating|
      = rating
      = check_box_tag "ratings[#{rating}]" , 1, @set_movieratings.key?(rating)   
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      
      %th{:class=>("hilite" if @moviesort_column == 'title' )}= link_to 'Movie Title' , movies_path(:moviesort_by=>'title')
      %th Rating
      
      %th{:class=>("hilite" if @moviesort_column == 'release_date' )}= link_to 'Release' , movies_path(:moviesort_by=>'release_date')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
